.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.75rem;
  padding: 3.75rem 1.25rem;
  background-color: black;
  color: var(--text-color-level-2);
  font-size: 0.75rem;
  text-align: center;

  @media screen and (min-width: 768px) {
    gap: 2.5rem;
    padding-bottom: 1.875rem;
    font-size: 1.5rem;
  }
}
