// CSS Custom properties
:root {
  // Colors
  --theme-color-1: #ff6060;
  --text-color-level-1: var(--theme-color-1);
  --text-color-level-2: white;
  --surface-level-1: white;
  --surface-level-2: #f6f6f6;
  --surface-level-3: var(--theme-color-1);
  --surface-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );

  // Fonts
  --font-family-base: "Montserrat", arial, sans-serif;
  --font-size-base: 16px;
  --line-height-base: calc(1em + 0.5rem);

  // Radius
  --border-radius: 5px;
  --border-radius-lg: 10px;
  --border-radius-xl: 25px;
  --border-radius-full: 999rem;
}
